cpuminer-config.h
*.m4
*.in
compat/*.in
compat/jansson/*.in
configure
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
*.db
*.opendb
.deps/ccminer-cpu-miner.Po
.deps/ccminer-cryptonight.Po
.deps/ccminer-sha2.Po
.deps/ccminer-util.Po
ccminer-cpu-miner.o
ccminer-sha2.o
ccminer-util.o
compat/jansson/.deps/dump.Po
compat/jansson/.deps/error.Po
compat/jansson/.deps/hashtable.Po
compat/jansson/.deps/load.Po
compat/jansson/.deps/memory.Po
compat/jansson/.deps/pack_unpack.Po
compat/jansson/.deps/strbuffer.Po
compat/jansson/.deps/utf.Po
compat/jansson/.deps/value.Po
compat/jansson/dump.o
compat/jansson/error.o
compat/jansson/hashtable.o
compat/jansson/jansson_private_config.h
compat/jansson/libjansson.a
compat/jansson/load.o
compat/jansson/Makefile
compat/jansson/memory.o
compat/jansson/pack_unpack.o
compat/jansson/strbuffer.o
compat/jansson/utf.o
compat/jansson/value.o
compat/Makefile
compat/Makefile.in
config.status
cpuminer-config.h
crypto/.deps/ccminer-aesb.Po
crypto/.deps/ccminer-c_blake256.Po
crypto/.deps/ccminer-c_groestl.Po
crypto/.deps/ccminer-c_jh.Po
crypto/.deps/ccminer-c_keccak.Po
crypto/.deps/ccminer-c_skein.Po
crypto/.deps/ccminer-oaes_lib.Po
cryptonight/.deps/.dirstamp
cryptonight/.dirstamp
Makefile
missing
stamp-h1
compat/Makefile.in
cpuminer-config.h
/.vs
